.hel{
    margin-top: 2rem;

    button{
        background-color: #81d1ff;
        border: none;
        padding: 0.9rem 1.1rem;
        color: #fff;
        border-radius: 1rem;


        transition:  all 0.3s ease-in-out;
        margin: 0.5rem;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 17px 16px -11px #81d1ff;
            transform: translateY(-5px);
          }
    }
}